<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Word Trainer</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="bg-body">
        <div class="container vh-100 pt-5 text-center">
          <div class="row">
            <div class="col" id="words" >
                <input v-model="newWord" placeholder="write new word">
                    <button onclick="addWord()">add</button>
                </input> 
                <ol class="my-5">
                    <li v-for="word in wordArray" class="bg-info m-2">
                        {{ word }}
                    </li>
                </ol>
             </div>
            <div class="col  py-3 bg-secondary" id="quiz">
                <button onClick="start()">Start</button>
                <div class="my-5">{{ quizWord }}</div>
                <div>
                    <input v-model="answer" placeholder="write the answer">
                        <button onClick="check()">Answer</button>
                    </input> 
                </div>
            </div>
            <div class="col" id="answers">
                <h1>Answers</h1>
                <ol>
                    <li v-for="answer in answerArray"
                        v-bind:class="{'bg-danger': isWrong, 'bg-success': isCorrect} " class="my-2">
                        {{ answer }}
                    </li>
                </ol>
            </div>
          </div>
        </div>
        <!-- vue.js CDN -->
        <script src="https://unpkg.com/vue@next"></script>
        <!-- local js file -->
        <script src="app.js"></script>
        <!-- Bootstrapt 5 Bundle-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
